<div class="container-fluid container-fluid-custom">
    <h2 class="ms-4 me-4">
        This is a Notes App built using NodeJS, MongoDB and Google
        Authentication. Here you can store your notes in the form of card and
        its subsequesnt data and it will be stored and linked to you google
        account. Thank You.
    </h2>
</div>
