:root {
    --background-color: black;
    --bs-primary-rgb: #12296c;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Unbounded", cursive;
    font-weight: 800;
}

.container-fluid-custom {
    max-width: 1600px;
}

/* Buttons */
.btn {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}

/* Home */
@media (min-width: 1200px) {
    .home {
        background: url("../img/human-1.svg") left bottom no-repeat,
            url("../img/human-2.svg") right bottom no-repeat, black;
    }
}

@media screen and (min-width: 800px) {
    .home-title::before {
        content: url("../img/stars.svg");
        position: absolute;
        left: -50px;
        top: -30px;
    }

    .home-title::after {
        content: url("../img/stars.svg");
        position: absolute;
        right: -50px;
        bottom: -30px;
    }
}

.card-body {
    background-color: rgb(230, 230, 20);
    border-radius: 5px;
}

.card:hover {
    color: rgb(80, 80, 255);
}

@media screen and (max-width: 1200px) {
    .dashboard-svg-img {
        display: none;
    }
}
